@charset "utf-8";
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: "microsoft yahei";
}

.ui-widget select {
	/*font-size: 14px!important*/
}

.ui-widget {
	font-size: 14px;
}

.navbar .nav>li>a {
	text-shadow: none;
}

.navbar ul.nav>li.dropdown.open>a.dropdown-toggle {
	background: none;
} 


.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-submenu:hover>a,
.dropdown-submenu:focus>a {
	text-decoration: none;
	background-color: #0081c2;
	background-image: none!important;
	filter: none
}

ul.dropdown-menu>li>a:hover {
	color: #ff7f57;
	background: none;
}

.dropdown-menu>li>a:focus {
	color: #ff7f57;
	background: none;
}

.group_select li {
	padding-left: 15px;
}

.group_select li a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	white-space: nowrap;
}

.dropdown-menu .active a,
.dropdown-menu .active a:hover,
.dropdown-menu .active,
.dropdown-menu .active a:focus {
	background: none;
	color: #ff8057;
}

.dropdown-menu li a {
	padding-left: 0;
	padding-right: 0;
}

.pagination ul li a {
	margin: 0 4px;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
}

.pagination ul li a:hover,
.pagination ul li.active a {
	background: #545f69;
	border: 1px solid #545f69;
	color: #fff;
}

.pagination ul li.disabled a:hover {
	border: 1px solid #e0e0e0;
}

.pagination ul li input {
	float: left;
	width: 48px;
	border: 1px solid #e0e0e0;
}

.pagination ul li i.fl {
	line-height: 20px;
	padding: 4px 12px;
}

.pagination a,
.pagination>span {
	margin: 0 4px;
	padding: 4px 12px;
	line-height: 20px;
	border-radius: 3px;
}

.pagination a.disabled:hover,
.pagination a.disabled,
.pagination a.disabled:focus {
	text-decoration: none;
	background: #fff;
	color: #ccc;
}

.pagination ul li input {
	float: left;
	width: 48px;
	border: 1px solid #e0e0e0;
}

.pagination ul li i.fl {
	line-height: 20px;
	padding: 4px 12px;
}

.btn {
	text-shadow: none;
	-webkit-text-shadow: none;
	outline: none;
	border-color: #d3d3d3;
	box-sizing: border-box;
}

.btn:focus {
	outline: none;
}

.label,
.badge {
	font-weight: normal;
}

.btn-group>.btn {
	border: 1px solid #bababa;
	box-shadow: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	background: #fff;
}

.btn-group>.btn:first-child {
	border-radius: 0;
	-webkit-border-radius: 0;
	color: #999;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
	padding-left: 5px;
	padding-right: 0;
}

.btn-group>.btn {
	padding-left: 5px;
}

.btn-group button:focus {
	border: 1px solid #bababa!important;
	box-shadow: none!important;
	outline: none;
}

.btn-group>.btn.dropdown-toggle {
	background-color: #f2f2f2;
	*background-color: #f2f2f2;
	background-image: -moz-linear-gradient(top, #fefefe, #f2f2f2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #fefefe, #f2f2f2);
	background-image: -o-linear-gradient(top, #fefefe, #f2f2f2);
	background-image: linear-gradient(to bottom, #fefefe, #f2f2f2);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffefefe', endColorstr='#fff2f2f2', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	*zoom: 1;
}

.dropdown-menu {
	border-radius: 0;
	box-shadow: none;
	margin-top: 0;
	border: 1px solid #bababa;
	border-top: none;
	/*display: block;*/
	/*height: 0;*/
	/*overflow: hidden;*/
	/*padding: 0;*/
	/*border: none;*/
}

.btn-group .dropdown-menu {
	/*max-height:200px;*/
	/*overflow: hidden;*/
	/*background: none;*/
}

.open>.dropdown-menu {
	border-radius: 0;
	box-shadow: none;
	background: #fff;
	margin-top: -1px;
	border: 1px solid #bababa;
	/*border-top: none;*/
	display: block;
	/*height:auto;*/
	/*overflow: auto;*/
}

.open>.dropdown-menu {}

.open .btn,
.open .btn:hover,
.open .btn:focus {
	z-index: 900;
	position: relative;
}

.dropdown-menu>li {
	padding: 3px 10px;
}

.group-sub>li {
	padding: 3px 3px 3px 0;
	padding-left: 22px;
}

.dropdown-menu>li .checkbox {
	margin: 0;
}

.btn {
	white-space: nowrap;
}

.controls span.err {
	display: none!important;
}

.btn-group button.btn.active {
	color: #333;
}

span.err {
	display: none!important;
}

form {
	margin: 0;
}

.tooltip.bottom {
	margin-top: -3px;
}

.ui-icon-close {
	cursor: pointer;
}

input.error,
select.error,
textarea.error {
	border-color: #b94a48!important;
	-webkit-box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.275) !important;
	-moz-box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.275) !important;
	box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.275) !important;
}

.btn-group.error,
.btn-group.error:focus,
.btn-group.open.error,
.btn-group.error button {
	border-color: #b94a48!important;
	-webkit-box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.275) !important;
	-moz-box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.275) !important;
	box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.275) !important;
}

.btn-group.error .caret {
	border-top-color: #b94a48!important;
}

.btn-group.error~.btn-group {
	margin-left: 5px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	margin-bottom: 0;
}



select.input_miniH,
textarea.input_miniH,
input[type="text"].input_miniH,
input[type="password"].input_miniH,
input[type="datetime"].input_miniH,
input[type="datetime-local"].input_miniH,
input[type="date"].input_miniH,
input[type="month"].input_miniH,
input[type="time"].input_miniH,
input[type="week"].input_miniH,
input[type="number"].input_miniH,
input[type="email"].input_miniH,
input[type="url"].input_miniH,
input[type="search"].input_miniH,
input[type="tel"].input_miniH,
input[type="color"].input_miniH {
    padding-top:1px;
    padding-bottom:1px;
}



/*-------------jquery-UI--*/

input[type="text"],
input[type="password"],
.ui-autocomplete-input,
textarea,
.uneditable-input {
	border-radius: 1px;
	-webkit-border-radius: 1px;
}

.btn {
	box-shadow: none;
	-webkit-box-shadow: none;
}

.modal,
.modal.fade.in {
	/*top: 50%;
	padding: 0;
	margin: 0;
	margin-left: 0;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	border: none;
	overflow:inherit;*/
}

.modal-header .close {
	outline: none
}

.modal.tool,
.tool.modal.fade.in {
	width: auto;
	height: auto;
	min-width: 300px;
	max-width: 600px;
	z-index: 19999;
	top: 50%;
	border: none;
	left: 50%;
}

.modal.tool {
	top: 10%;
	-webkit-transition: opacity 0.2s linear, top 0.2s ease-out;
	-moz-transition: opacity 0.2s linear, top 0.2s ease-out;
	-o-transition: opacity 0.2s linear, top 0.2s ease-out;
	transition: opacity 0.2s linear, top 0.2s ease-out;
}

.modal-scrollable .tool.modal.fade.in .rel {
	padding-top: 30px
}

.modal-scrollable .tool.modal.fade.in .rel {
	padding-top: 30px
}

.modal-scrollable .tool.modal.fade.in .modal-header~.rel {
	padding-top: 50px
}

.modal-footer {
	text-align: center;
}

.modal-backdrop,
.modal-backdrop.fade.in {
	opacity: 0.2;
	-webkit-opacity: 0.2;
	filter: alpha(opacity=20);
}

.form-horizontal .tooltip.bottom {
	margin-top: 2px;
}

.form-horizontal .control-group {
	margin-bottom: 14px;
}

.form-horizontal .control-group div.text {
	padding: 5px 0;
	height: 20px;
}

.form-horizontal .control-group div.text.fl {
	float: left
}

.form-horizontal .control-group span.inline {
	padding: 5px 0;
}

.fwn {
	font-weight: normal;
}

.ico_modify {
	width: 13px;
	height: 13px;
	background-position: -310px -40px;
}

.ico_bells {
	width: 15px;
	height: 16px;
	/*background-position: -410px -100px;*/
	background: url(../images/ico/ico_bells.png) no-repeat center;
}

.ico_bells2 {
	width: 23px;
	height: 27px;
	vertical-align: middle;
	display: inline-block;
	background:url(/images/ico/ico_Message_bells.png) no-repeat;
}

@-webkit-keyframes tada {
	0%,100%{
		opacity:0;
		/*-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)*/
		
	}
	/*10%,
	20% {
		-webkit-transform: rotate3d(0, 0, 1, -3deg);
		transform: rotate3d(0, 0, 1, -3deg)
	}
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: rotate3d(0, 0, 1, 3deg);
		transform: rotate3d(0, 0, 1, 3deg)
	}
	40%,
	60%,
	80% {
		-webkit-transform: rotate3d(0, 0, 1, -3deg);
		transform: rotate3d(0, 0, 1, -3deg)
	}*/
	60%,80%{
		opacity:1;
		/*-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)*/
	}
}


/*
@keyframes tada {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
	10%,
	20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg)
	}
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
	}
	40%,
	60%,
	80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
}*/

.ico_bells.on,.ico_bells2.on {
	-webkit-animation-name: tada;
	animation-name: tada;
	-webkit-animation-duration:0.8s;
	animation-duration:0.8s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	/*background-position: -390px -100px;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

.badge-important {
	background-color: #f00;
}

textarea {
	resize: none
}

textarea.span7 {
	width: 610px;
}

textarea.span15 {
	width: 390px;
}


/*表单宽度*/

select.span0 {
	width: 92px;
}

select.span1 {
	width: 72px;
}

select.span2 {
	width: 165px;
}

select.span3 {
	width: 216px;
}

select.span4 {
	width: 296px;
}

select.span5 {
	width: 376px;
}

input.span2,
textarea.span2,
.uneditable-input.span2 {
	width: 155px;
}

.btn-group .btn.span3 {
	width: 191px;
}

.btn-group .dropdown-menu.span3 {
	min-width: 214px;
	width: auto;
}

.btn-group .btn.span4 {
	width: 271px;
}

.btn-group .dropdown-menu.span4 {
	min-width: 294px;
	width: auto;
}

.btn-group .btn.span5 {
	width: 351px;
}

.btn-group .dropdown-menu.span5 {
	min-width: 374px;
	width: auto;
}

input.span13,
textarea.span13,
.uneditable-input.span13 {
	width: 486px;
}

input.span14,
textarea.span14,
.uneditable-input.span14 {
	width: 1115px;
}

input[class*="span"],
.controls-row input[class*="span"] {
	float: none;
}




/*-------------*/

.ico_people {
	width: 26px;
	height: 25px;
	background-position: 0 0;
}

.ico_lock {
	width: 21px;
	height: 25px;
	background-position: -40px 0;
}

.ico_exclamation {
	width: 18px;
	height: 19px;
	background-position: -70px 2px;
}

.ico_out {
		width: 14px;
	height: 14px;
	display: inline-block;
	background: url(../images/ico/ico_headOut.png) no-repeat center;
}

.ico_seach {
	width: 43px;
	height: 42px;
	background-position: -550px -210px;
}

.ico_seach_small {
	width: 25px;
	height: 24px;
	background-position: -580px -70px;
}

.ico_seach_small2 {
	width: 21px;
	height: 21px;
	background-position: -620px -70px;
}

.ico_people-small {
	width: 11px;
	height: 16px;
	background-position: -100px 0px;
}

.ico_skin {
	width: 14px;
	height: 14px;
	display: inline-block;
	background: url(../images/ico/ico_headSkin.png) no-repeat center;
}

.ico_arrow-down {
	width: 9px;
	height: 7px;
	background-position: -120px 0px;
}

.ico_logo {
	width: 18px;
	height: 18px;
	background-position: -390px -320px;
}

.ico_bankCard {
	width: 18px;
	height: 14px;
	background-position: -180px 0;
}

.ico_people-entry {
	width: 19px;
	height: 19px;
	background-position: -140px -40px;
}

.ico_people-client {
	width: 17px;
	height: 19px;
	background-position: -80px -40px;
}

.ico_eye-close {
	width: 23px;
	height: 13px;
	background-position: -80px -70px;
}

.ico_eye-open {
    width: 23px;
    height: 13px;
    background-position: -120px -70px;
}

.ico_add-plus {
	width: 80px;
	height: 80px;
	border: 1px solid #cdcdcd;
	position: relative;
	border-radius: 3px;
	background: none;
	cursor: pointer;
}

.ico_add-plus:hover {
	border: 1px solid #979797
}

.ico_add-plus:before {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -12px;
	margin-top: -13px;
	content: '';
	width: 25px;
	height: 25px;
}

.ico_sort {
	width: 7px;
	height: 12px;
	background-position: -60px -100px;
}

.up .ico_sort {
	background-position: -70px -100px;
}

.down .ico_sort {
	background-position: -80px -100px;
}

.ico_calendar {
	width: 15px;
	height: 15px;
	background-position: -200px -40px;
}

.ico_newAdd {
	width: 10px;
	height: 10px;
	background-position: -230px -40px;
}

.ico_newAdd_yellow {
	width: 7px;
	height: 7px;
	background-position: -360px -40px;
}

.ico_newAdd_white {
	width: 10px;
	height: 10px;
    background-position: -330px -100px;
    position:relative;
    right:5px;
}

.ico_ranking {
	width: 17px;
	height: 17px;
	background-position: -250px -40px;
}

.btn-yellow_white .ico_ranking_yellow {
	position: relative;
	top: -3px;
}

.ico_ranking_yellow {
	width: 17px;
	height: 17px;
	background-position: -250px -70px;
}

.ico_success {
	width: 48px;
	height: 48px;
	display: inline-block;
	background: url(../images/ico/ico_success.png) no-repeat center;
}
.ico_none {
	/*width: 74px;
	height: 74px;*/
	display: inline-block;
	/*background: url(../images/ico/ico_none.png) no-repeat center;*/
}

.ico_warning {
	width: 48px;
	height: 48px;
	display: inline-block;
	background: url(../images/ico/ico_warning.png) no-repeat center;
}
.ico_fail {
	width: 48px;
	height: 48px;
	display: inline-block;
	background: url(../images/ico/ico_fail.png) no-repeat center;
}

.ico_again {
	width: 55px;
	height: 66px;
	background-position: -60px -200px;
}




.ico_zhfynone {
	width:80px;
	height: 57px;
	background: none;
	background: url(../images/ico/ico_zjls.png) no-repeat center;
}



.ico_wait {
	width: 58px;
	height: 58px;
	background-position: -158px -200px;
}

.ico_close {
	width: 22px;
	height: 22px;
	background: url(../images/ico/ico_close.png) no-repeat center;
	display: inline-block;
}

.ico_star {
	background-position: -330px -40px;
	width: 19px;
	height: 18px;
}

.ico_inquire {
	background-position: -210px -70px;
	width: 27px;
	height: 26px;
}

.ico_camera {
	width: 28px;
	height: 30px;
	background-position: -150px -100px;
}

.ico_imgAdd {
	width: 28px;
	height: 30px;
	background-position: -200px -100px;
}

.ico_video {
	width: 28px;
	height: 30px;
	background-position: -240px -100px;
}

.ico_flag-green {
	width: 18px;
	height: 18px;
	background-position: -450px -320px;
}

.ico_add-small {
	width: 8px;
	height: 8px;
}

.ico_car {
	width: 18px;
	height: 18px;
	background-position: -420px -320px;
}
.ico_ownCar {
	width: 18px;
	height: 18px;
	background: url(../images/ico/ico_myBusiness.png) no-repeat -21px 0;

}
.ico_companyCar {
	width: 18px;
	height: 18px;
	background: url(../images/ico/ico_myBusiness.png) no-repeat 0 0;

}
.ico_HkMacaoCar {
	width: 18px;
	height: 18px;
	background: url(../images/ico/ico_myBusiness.png) no-repeat -43px 0;

}

.ico_xu {
	background-image: none!important;
	background-color: #1a97f8;
	color: #fff;
	text-align: center;
	min-width: 16px;
	padding: 0 2px;
	box-sizing: border-box;
	line-height: 16px;
	height: 18px;
	font-size: 12px;
	font-weight: normal;
	border-radius: 3px;
	letter-spacing: -1px;
}


/*
    .ico_xu:before{
	content: '';
	display: block;
	position: absolute;
	left: 16px;
	top: -5px;
	width: 16px;
	height: 12px;
}*/

.ico_xu1,
.ico_xu2,
.ico_xu3,
.ico_xu4,
.ico_xu5,
.ico_xu6,
.ico_xu7,
.ico_xu8,
.ico_xu9 {
	margin-right: 12px;
}

.ico_xu10,
.ico_xu11,
.ico_xu12,
.ico_xu13,
.ico_xu14,
.ico_xu15,
.ico_xu16,
.ico_xu17,
.ico_xu18,
.ico_xu19,
.ico_xu20,
.ico_xu21,
.ico_xu22,
.ico_xu23,
.ico_xu24,
.ico_xu25,
.ico_xu26,
.ico_xu27,
.ico_xu28,
.ico_xu29,
.ico_xu30,
.ico_xu31,
.ico_xu32,
.ico_xu33,
.ico_xu34,
.ico_xu35,
.ico_xu36,
.ico_xu37,
.ico_xu38,
.ico_xu39,
.ico_xu40 {
	margin-right: 16px;
}


/*
    
.ico_xu1{
	width: 34px;
	height: 20px;
	background-position: -150px -400px;
}

.ico_xu2{
	width: 34px;
	height: 20px;
	background-position: -200px -400px;
}

.ico_xu3{
	width: 34px;
	height: 20px;
	background-position: -250px -400px;
}

.ico_xu4{
	width: 34px;
	height: 20px;
	background-position: -300px -400px;
}

.ico_xu5{
	width: 34px;
	height: 20px;
	background-position: -350px -400px;
}

.ico_xu6{
	width: 34px;
	height: 20px;
	background-position: -400px -400px;
}
.ico_xu7{
	width: 34px;
	height: 20px;
	background-position: -450px -400px;
}
.ico_xu8{
	width: 34px;
	height: 20px;
	background-position: -500px -400px;
}
.ico_xu9{
	width: 34px;
	height: 20px;
	background-position: -550px -400px;
}
.ico_xu10{
	width: 34px;
	height: 20px;
	background-position: -600px -400px;
}
.ico_xu11{
	width: 34px;
	height: 20px;
	background-position: -650px -400px;
}
.ico_xu12{
	width: 34px;
	height: 20px;
	background-position: -700px -400px;
}






.ico_xu13{
	width: 34px;
	height: 20px;
	background-position: -150px -430px;
}

.ico_xu14{
	width: 34px;
	height: 20px;
	background-position: -200px -430px;
}

.ico_xu15{
	width: 34px;
	height: 20px;
	background-position: -250px -430px;
}

.ico_xu16{
	width: 34px;
	height: 20px;
	background-position: -300px -430px;
}

.ico_xu17{
	width: 34px;
	height: 20px;
	background-position: -350px -430px;
}

.ico_xu18{
	width: 34px;
	height: 20px;
	background-position: -400px -430px;
}
.ico_xu19{
	width: 34px;
	height: 20px;
	background-position: -450px -430px;
}
.ico_xu20{
	width: 34px;
	height: 20px;
	background-position: -500px -430px;
}
.ico_xu21{
	width: 34px;
	height: 20px;
	background-position: -550px -430px;
}
.ico_xu22{
	width: 34px;
	height: 20px;
	background-position: -600px -430px;
}
.ico_xu23{
	width: 34px;
	height: 20px;
	background-position: -650px -430px;
}
.ico_xu24{
	width: 34px;
	height: 20px;
	background-position: -700px -430px;
}







.ico_xu25{
	width: 34px;
	height: 20px;
	background-position: -150px -460px;
}

.ico_xu26{
	width: 34px;
	height: 20px;
	background-position: -200px -460px;
}

.ico_xu27{
	width: 34px;
	height: 20px;
	background-position: -250px -460px;
}

.ico_xu28{
	width: 34px;
	height: 20px;
	background-position: -300px -460px;
}

.ico_xu29{
	width: 34px;
	height: 20px;
	background-position: -350px -460px;
}

.ico_xu30{
	width: 34px;
	height: 20px;
	background-position: -400px -460px;
}
.ico_xu31{
	width: 34px;
	height: 20px;
	background-position: -450px -460px;
}
.ico_xu32{
	width: 34px;
	height: 20px;
	background-position: -500px -460px;
}
.ico_xu33{
	width: 34px;
	height: 20px;
	background-position: -550px -460px;
}
.ico_xu34{
	width: 34px;
	height: 20px;
	background-position: -600px -460px;
}
.ico_xu35{
	width: 34px;
	height: 20px;
	background-position: -650px -460px;
}
.ico_xu36{
	width: 34px;
	height: 20px;
	background-position: -700px -460px;
}
    */

.ico_zeng {
	background-image: none!important;
	background-color: #1a97f8;
	color: #fff;
	text-align: center;
	min-width: 16px;
	padding: 0 2px;
	box-sizing: border-box;
	line-height: 16px;
	height: 18px;
	font-size: 12px;
	font-weight: normal;
	border-radius: 3px;
	letter-spacing: -1px;
}

.ico_zeng:before {
	content: '';
	display: block;
	position: absolute;
	left: 16px;
	top: -5px;
	width: 16px;
	height: 12px;
}

.ico_zeng1,
.ico_zeng2,
.ico_zeng3,
.ico_zeng4,
.ico_zeng5,
.ico_zeng6,
.ico_zeng7,
.ico_zeng8,
.ico_zeng9 {
	margin-right: 12px;
}

.ico_zeng10,
.ico_zeng11,
.ico_zeng12,
.ico_zeng13,
.ico_zeng14,
.ico_zeng15,
.ico_zeng16,
.ico_zeng17,
.ico_zeng18,
.ico_zeng19,
.ico_zeng20,
.ico_zeng21,
.ico_zeng22,
.ico_zeng23,
.ico_zeng24,
.ico_zeng25,
.ico_zeng26,
.ico_zeng27,
.ico_zeng28,
.ico_zeng29,
.ico_zeng30,
.ico_zeng31,
.ico_zeng32,
.ico_zeng33,
.ico_zeng34,
.ico_zeng35,
.ico_zeng36,
.ico_zeng37,
.ico_zeng38,
.ico_zeng39,
.ico_zeng40 {
	margin-right: 16px;
}

.ico_xin {
	background-image: none!important;
	background-color: #ff2467;
	color: #fff;
	text-align: center;
	min-width: 16px;
	padding: 0 2px;
	box-sizing: border-box;
	line-height: 15px;
	height: 16px;
	font-size: 13px;
	font-weight: normal;
	border-radius: 2px;
	letter-spacing: -1px;
}

.ico_xin10,
.ico_xin11,
.ico_xin12,
.ico_xin13,
.ico_xin14,
.ico_xin15,
.ico_xin16,
.ico_xin17,
.ico_xin18,
.ico_xin19,
.ico_xin20,
.ico_xin21,
.ico_xin22,
.ico_xin23,
.ico_xin24,
.ico_xin25,
.ico_xin26,
.ico_xin27,
.ico_xin28,
.ico_xin29,
.ico_xin30,
.ico_xin31,
.ico_xin32,
.ico_xin33,
.ico_xin34,
.ico_xin35,
.ico_xin36,
.ico_xin37,
.ico_xin38,
.ico_xin39,
.ico_xin40 {
	margin-right: 16px;
}


/*
.ico_zeng1{
	width: 34px;
	height: 20px;
	background-position: -150px -490px;
}

.ico_zeng2{
	width: 34px;
	height: 20px;
	background-position: -200px -490px;
}

.ico_zeng3{
	width: 34px;
	height: 20px;
	background-position: -250px -490px;
}

.ico_zeng4{
	width: 34px;
	height: 20px;
	background-position: -300px -490px;
}

.ico_zeng5{
	width: 34px;
	height: 20px;
	background-position: -350px -490px;
}

.ico_zeng6{
	width: 34px;
	height: 20px;
	background-position: -400px -490px;
}
.ico_zeng7{
	width: 34px;
	height: 20px;
	background-position: -450px -490px;
}
.ico_zeng8{
	width: 34px;
	height: 20px;
	background-position: -500px -490px;
}
.ico_zeng9{
	width: 34px;
	height: 20px;
	background-position: -550px -490px;
}
.ico_zeng10{
	width: 34px;
	height: 20px;
	background-position: -600px -490px;
}
.ico_zeng11{
	width: 34px;
	height: 20px;
	background-position: -650px -490px;
}
.ico_zeng12{
	width: 34px;
	height: 20px;
	background-position: -700px -490px;
}






.ico_zeng13{
	width: 34px;
	height: 20px;
	background-position: -150px -520px;
}

.ico_zeng14{
	width: 34px;
	height: 20px;
	background-position: -200px -520px;
}

.ico_zeng15{
	width: 34px;
	height: 20px;
	background-position: -250px -520px;
}

.ico_zeng16{
	width: 34px;
	height: 20px;
	background-position: -300px -520px;
}

.ico_zeng17{
	width: 34px;
	height: 20px;
	background-position: -350px -520px;
}

.ico_zeng18{
	width: 34px;
	height: 20px;
	background-position: -400px -520px;
}
.ico_zeng19{
	width: 34px;
	height: 20px;
	background-position: -450px -520px;
}
.ico_zeng20{
	width: 34px;
	height: 20px;
	background-position: -500px -520px;
}
.ico_zeng21{
	width: 34px;
	height: 20px;
	background-position: -550px -520px;
}
.ico_zeng22{
	width: 34px;
	height: 20px;
	background-position: -600px -520px;
}
.ico_zeng23{
	width: 34px;
	height: 20px;
	background-position: -650px -520px;
}
.ico_zeng24{
	width: 34px;
	height: 20px;
	background-position: -700px -520px;
}







.ico_zeng25{
	width: 34px;
	height: 20px;
	background-position: -150px -550px;
}

.ico_zeng26{
	width: 34px;
	height: 20px;
	background-position: -200px -550px;
}

.ico_zeng27{
	width: 34px;
	height: 20px;
	background-position: -250px -550px;
}

.ico_zeng28{
	width: 34px;
	height: 20px;
	background-position: -300px -550px;
}

.ico_zeng29{
	width: 34px;
	height: 20px;
	background-position: -350px -550px;
}

.ico_zeng30{
	width: 34px;
	height: 20px;
	background-position: -400px -550px;
}
.ico_zeng31{
	width: 34px;
	height: 20px;
	background-position: -450px -550px;
}
.ico_zeng32{
	width: 34px;
	height: 20px;
	background-position: -500px -550px;
}
.ico_zeng33{
	width: 34px;
	height: 20px;
	background-position: -550px -550px;
}
.ico_zeng34{
	width: 34px;
	height: 20px;
	background-position: -600px -550px;
}
.ico_zeng35{
	width: 34px;
	height: 20px;
	background-position: -650px -550px;
}
.ico_zeng36{
	width: 34px;
	height: 20px;
	background-position: -700px -550px;
}*/


/*.ico_znegzi{
	width:36px;
	height: 20px;
	background-position: -700px -490px;
}*/

.ico_zai {
	background-image: none!important;
	background-color: #00b0bb;
	color: #fff;
	text-align: center;
	min-width: 16px;
	padding: 0 2px;
	box-sizing: border-box;
	line-height: 16px;
	height: 18px;
	font-size: 12px;
	font-weight: normal;
	border-radius: 3px;
	letter-spacing: -1px;
}

.ico_province {
	width: 19px;
	height: 18px;
	background-position: -430px -100px;
}

.ico_print {
	width: 13px;
	height: 13px;
	background-position: -430px -70px;
	position: relative;
	top: -1px;
}

.ico_export {
	width: 13px;
	height: 13px;
	background-position: -410px -70px;
	position: relative;
	top: -1px;
}

.ico_refresh {
		width: 14px;
	height: 14px;
	display: inline-block;
	background: url(../images/ico/ico_headRefresh.png) no-repeat center;
}

.ico_noCont {
	width: 58px;
	height: 62px;
	background-position: -90px -280px;
}

.ico_noCont2 {
	width: 54px;
	height: 65px;
	background-position: -200px -270px;
}

.ico_new {
	background-position: -330px 0;
	width: 37px;
	height: 15px;
}

.ico_pinggu {
	width: 36px;
	height: 26px;
	background-position: -150px -270px;
}

.ico_chedai {
	width: 36px;
	height: 26px;
	background-position: -150px -270px;
}

.ico_kehu {
	width: 36px;
	height: 26px;
	background-position: -150px -310px;
}

.ico_preview {
	width: 22px;
	height: 22px;
	background: url(../images/ico/ico_preview.png) no-repeat center;
	display: inline-block;
}

.ico_edit {
	width: 22px;
	height: 22px;
	background-position: -490px -100px;
}

.ico_delete2 {
	width: 22px;
	height: 22px;
	background-position: -520px -100px;
}

.ico_diya {
	width: 38px;
	height: 40px;
	background-position: -390px -160px;
}

.ico_chuku {
	width: 50px;
	height: 43px;
	background-position: -490px -160px;
}

.ico_zaiku {
	width: 40px;
	height: 32px;
	background-position: -440px -160px;
}

.ico_jieya {
	width: 47px;
	height: 41px;
	background-position: -550px -160px;
}


/*badge*/

.badge_NO {
	background-color: #c79036;
}

.btn,
.btn:hover,
.btn:focus {}

input[type="text"],
input[type="password"],
.ui-autocomplete-input,
textarea,
.uneditable-input {
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.controls>.radio:first-child,
.controls>.checkbox:first-child {
	padding-top: 0
}

.ui-datepicker-month {
	float: right;
}

.ico_toggle{
	width: 13px;
	height: 14px;
	background-position: -610px -100px;
}
.ico_toggle.up{
	background-position: -630px -100px;
}

.ico_enlarge{
	width:8px;
	height: 8px;
	background-position: -100px -100px;
}


.ico_shrink{
	width:8px;
	height: 8px;
	background-position: -120px -100px;
}


.ico_shrink{
	width:8px;
	height: 8px;
	background-position: -120px -100px;
}


.ico_ranging{
	width:8px;
	height: 12px;
	background-position: -580px -100px;
}

.ico_play{
	width:11px;
	height: 11px;
	background-position: -480px -130px;
}
.ico_pause{
	width:11px;
	height: 11px;
	background-position: -490px -130px;
}
.ico_stop{
	width:11px;
	height: 11px;
	background-position: -500px -130px;
}


.ico_listNav{
	background: url(../images/ico/ico_gpsMonitor.png) no-repeat 0 -30px;
	width: 16px;
	height: 13px;
}


.ico_gpsQuanbu{
	background: url(../images/ico/ico_gpsMonitor.png) no-repeat 0 0;
	width: 26px;
	height: 30px;
}
.ico_gpsZhengchang{
	background: url(../images/ico/ico_gpsMonitor.png) no-repeat -30px 0;
	width: 26px;
	height: 30px;
}
.ico_gpsZhongdian{
	background: url(../images/ico/ico_gpsMonitor.png) no-repeat -60px 0;
	width: 26px;
	height: 30px;
}
.ico_gpsWeilan{
	background: url(../images/ico/ico_gpsMonitor.png) no-repeat -90px 0;
	width: 26px;
	height: 30px;
}

.ico_gpsErya{
	background: url(../images/ico/ico_gpsMonitor.png) no-repeat -30px -30px;
	width:15px;
	height: 15px;
}



.ico_gpsHome{
	background: url(../images/ico/ico_gpsMonitor.png) no-repeat -00px -50px;
	width:15px;
	height: 15px;
}



.ico_gpsGongsi{
	background: url(../images/ico/ico_gpsMonitor.png) no-repeat -20px -50px;
	width:15px;
	height: 15px;
}



.ico_gpsGongju{
	background: url(../images/ico/ico_gpsMonitor.png) no-repeat -50px -30px;
	width:15px;
	height: 15px;
}
.ico_gpsQuanping{
	background: url(../images/ico/ico_gpsMonitor.png) no-repeat -70px -30px;
	width:15px;
	height: 15px;
}


.ico_zhye{
	background: url(../images/ico/ico_zhye.png) no-repeat ;
	width:46px;
	height: 48px;
	position: relative;
	margin-top: -18px;
	margin-right: 5px;
}


.ico_eryadian{
	background-position: -840px -10px;
	width: 25px;
	height: 25px;
}


.ico_lixian{
	background-position: -870px -10px;
	width: 25px;
	height: 25px;
}

.ico_duandian{
	background-position: -900px -10px;
	width: 25px;
	height: 25px;
}

.ico_dianziweilan{
	background-position: -930px -10px;
	width: 25px;
	height: 25px;
}

.ico_weixing{
	background-position: -960px -10px;
	width: 25px;
	height: 25px;
}

.ico_chusheng{
	background-position: -990px -10px;
	width: 25px;
	height: 25px;
}

.ico_guanzhu{
	background-position: -1020px -10px;
	width: 25px;
	height: 25px;
}

.ico_yuqi{
	background-position: -1050px -10px;
	width: 25px;
	height: 25px;
}

.ico_gpsYicai{
	background: url(../images/ico/ico_yicai.png) no-repeat;
	width:79px;
	height:79px;
    display:inline-block;
    vertical-align:middle

}


.ico_mailer{
	background: url(../images/ico/ico_Message_mailer.png) no-repeat;
	width:16px;
	height:15px;
    display:inline-block;
    vertical-align:middle
}

.ico_mailer.open{
	background: url(../images/ico/ico_Message_mailer.png) no-repeat -16px 0;
}


.ico_Message_lock{
	background: url(../images/ico/ico_Message_lock.png) no-repeat;
	width:16px;
	height:16px;
    display:inline-block;
    vertical-align:middle
}

.ico_Message_lock.open{
	background: url(../images/ico/ico_Message_lock.png) no-repeat -16px 0;
}





.btn-important,.btn-important:hover,.btn-important:focus{
    background:#fff;
	color:#ff2929;
    border:1px solid #ff2929;
    vertical-align:middle
}
.btn-important:before {
    content:'';
    background: url(../images/ico/ico_zd.png) no-repeat;
	width:8px;
	height:7px;
     display:inline-block;
    vertical-align:middle;
    margin-right:3px;
    margin-top:-3px
}
    .btn-important.off {
    border:1px solid #daa474;
    color:#daa474
    }
.btn-important.off:before{
	background: url(../images/ico/ico_zd.png) no-repeat -8px 0;
}

.ico_zhuyi{
	width: 79px;
	height: 66px;
	background:url(../images/ico/ico_zhuyi.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
}


.btn-switch {
    
    background: url(../images/ico/ico_switch.png) no-repeat;
	width:40px;
	height:22px;
     display:inline-block;
    vertical-align:middle;
    border:none;
    
}
    .btn-switch.on {
  background: url(../images/ico/ico_switch.png) no-repeat -50px 0;
    }

.ico_groupArrow{
	 background: url(../images/ico/ico_groupArrow.png) no-repeat 0 0;
	width:9px;
	height:6px;

     display:inline-block;
    vertical-align:middle;
}
.focus .ico_groupArrow{
	 background: url(../images/ico/ico_groupArrow.png) no-repeat 0 -6px;
}
.focus .th_group{color: #ff8b29;}

.ico_map{
	width: 21px;
	height: 21px;
	background:url(../images/ico/ico_map.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
}


.ico_wenhao{
	background-position: -1080px -10px;
	width: 13px;
	height: 13px;
}

.ico_iphone{
	width: 26px;
	height: 28px;
	background:url(../images/ico/ico_iphoneApp.png) no-repeat 0 0;
	display: inline-block;
	vertical-align: middle;
}


.ico_android{
	width: 26px;
	height: 28px;
	background:url(../images/ico/ico_iphoneApp.png) no-repeat -26px 0;
	display: inline-block;
	vertical-align: middle;
}




.ico_weishouquan{
	width: 18px;
	height: 18px;
	background:url(../images/ico/ico_weishouquan.png) no-repeat 0 0;
	display: inline-block;
	vertical-align: middle;
}






.ico_add {
	width: 21px;
	height: 21px;
	border-radius: 2px;
	background: #dcbb82;
	position: relative;
	border: none;
	padding: 0;
	display: inline-block;
	vertical-align: middle
}
.ico_add:before {
	content: '';
	display: block;
	width: 8px;
	height: 8px;
	background: url(/images/skin/black/ico.png) no-repeat -350px -100px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -4px;
	margin-top: -4px;
}

.ico_refresh2,
.ico_refresh2:hover,
.ico_refresh2:active,
.ico_refresh2:focus {
	width: 21px;
	height: 21px;
	margin-top: 3px;
	height: 21px;
	border-radius: 2px;
	background: #fcfcfc;
	position: relative;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
}


.ico_refresh2:before {
	content: '';
	display: block;
	width: 12px;
	height: 12px;
	background: url(/images/ico/ico_refresh2.png) no-repeat;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -7px;
	margin-top: -6px;
}

.ico_delete {
	width: 21px;
	margin-top: 3px;
	height: 21px;
	border-radius: 2px;
	background: #fcfcfc;
	position: relative;
	padding: 0;
	display: inline-block;
	vertical-align: middle
}

.ico_delete:before {
	content: '';
	display: block;
	width: 9px;
	height: 7px;
	background: url(/images/skin/black/ico.png) no-repeat -60px -70px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -4px;
	margin-top: -4px;
}





.ui-tab-nav li a{
	padding: 0 35px;
	min-width: 60px;
	text-align: center;
	line-height: 45px;
	height: 44px;
	background: #fff;
	display: inline-block;
	color: #666666;
	font-size: 13px;
	border-radius: 3px 3px 0 0;
	border-right: 1px solid #e3e3e3;
	/*border: 1px solid #e3e3e3;*/
	border-bottom:1px solid #e3e3e3;
	/*box-sizing: border-box;*/
	/*box-shadow: 0 0 5px #c7c7c7;*/
}

.ui-tab-nav li.focus a span{
	line-height: 16px;
	display: block;
	padding-top: 8px;
}

.ui-tab-nav li:last-child {
    margin-right:-1px;
}

.ui-tab-nav li.active{
	position: relative;
	z-index: 2;
}
.ui-tab-nav{
	position: relative;
	display:inline-block;
	height: 45px;
	z-index: 1;
	margin-bottom: -1px;
	border-radius: 3px 3px 0 0;
	/*box-shadow: 3px 3px 10px #c7c7c7;*/
	border: 1px solid #ededed;
	border-bottom: none;
}
.ui-tab-nav2 li.focus{
	position: relative;
	z-index: 1;
}
.ui-tab-nav2 li.focus a,.ui-tab-nav2 li.focus a:hover{
	line-height:18px;
	padding-top: 5px;
	height: 40px;
	color: #fff;
}

.ui-tab-nav2 li.active{
	position: initial;
}

.ui-tab-nav2 li.active a,.ui-tab-nav2 li.active a:hover{
	position: relative;
}





.ico_newPhoto{
	width: 68px;
	height: 68px;
	display: inline-block;
	background: url(../images/ico/ico_newPhoto.png) no-repeat center;
}
.ico_newPhoto1{
	width: 47px;
	height: 47px;
	display: inline-block;
	background: url(../images/ico/ico_newPhoto1.png) no-repeat center;
	display: none;
}
.ico_newPhoto.abs{
		position: absolute;
	left: 0;
	top: 0;
}
.ico_newPhoto1.abs{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
}
.upLoadList .info ul li span.img.xin{
	border: 1px red solid;
}
.upLoadList .info ul li span.img.xin .ico_newPhoto1{
	display: block;
}
.fixSideBar{
	position: fixed;
	left: 0;
	top: 202px;
	min-width: 125px;
    width:220px;
	border: 1px solid #e3e3e3;
	border-bottom:none;
	background: #fff;
	z-index: 10;
}
.fixSideBar dl{
	margin: 0;
	border-bottom: 1px solid #e3e3e3;
}
.fixSideBar dt{
	padding-left: 12px;
	color: #999999;
	border-bottom: 1px solid #e3e3e3;
	line-height: 28px;
}
.fixSideBar dd{margin: 0;}

.fixSideBar dd a{
	display: block;
	padding-left: 12px;
	line-height: 28px;
	color: #333333;
	margin-bottom: 1px ;
	padding-right: 12px;
	white-space: nowrap;
}
.fixSideBar dd a:hover,
.fixSideBar dd a.active{
	background: #3697e4;
	color: #fff;
}



.ico_spTuihui{
	width: 14px;
	height: 14px;
	display: inline-block;
	background: url(../images/ico/ico_tuihui.png) no-repeat;
	position: relative;
	top: 2px;
}
.ico_spChedan{
	width: 14px;
	height: 14px;
	display: inline-block;
	background: url(../images/ico/ico_chedan.png) no-repeat;
	position: relative;
	top: 2px;
}
.ico_spTongyi{
	width: 14px;
	height: 14px;
	display: inline-block;
	background: url(../images/ico/ico_tongyi.png) no-repeat;
	position: relative;
	top: 2px;
}
.ico_spChuangjian{
	width: 14px;
	height: 14px;
	display: inline-block;
	background: url(../images/ico/ico_chuangjian.png) no-repeat;
	position: relative;
	top: 2px;
}
.ico_spTijiao{
	width: 14px;
	height: 14px;
	display: inline-block;
	background: url(../images/ico/ico_tijiao.png) no-repeat;
	position: relative;
	top: 2px;
}


.ico_yijian{
	width: 14px;
	height: 14px;
	display: inline-block;
	background: url(../images/ico/ico_yijian.png) no-repeat;
	position: relative;
	top: 2px;
}


.ico_jingji{
	width: 14px;
	height: 14px;
	display: inline-block;
	background: url(../images/ico/ico_jingji.png) no-repeat;
	position: relative;
	top: 2px;
}


.ico_phone1{
	width: 14px;
	height: 14px;
	display: inline-block;
	background: url(../images/ico/ico_phone1.png) no-repeat;
	position: relative;
	top: 2px;
}
.ico-shenpi{
    width: 14px;
	height: 14px;
	display: inline-block;
	background: url(../images/ico/shenpi.png) no-repeat;
	position: relative;
	top: -2px;
}

