<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="OpenAuthDBContext" connectionString="Data Source=172.1.1.216;Initial Catalog=test2;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>