@{
    ViewData["Title"] = "Home Page";
}
@inject ITest viewITest

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ul>
        <li>@ViewBag.Test1</li>
        @*<li>@ViewBag.TestFromContext.Guid</li>*@
        <li>@ViewBag.Test2</li>
    </ul>
</div>
