@using UniversityTutorManageSys.HelperService;
@using System.IO;
@{
    ViewData["Title"] = "Home Page";
}
@section head {
<style type="text/css">
    /*非常重要的样式让背景图片100%适应整个屏幕*/
    .bg {
        display: table;
        width: 100%;
        height: 100%;
        padding: 100px 0;
        text-align: center;
        color: #fff;
        background: url("/images/bg/reba4.jpg") no-repeat bottom center;
        background-color: #000;
        background-size: cover;
    }

    .my-navbar {
        padding: 20px 0;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        background: #000000;
    }

        .my-navbar a {
            background: transparent !important;
            color: #fff !important
        }

            .my-navbar a:hover {
                color: #45bcf9 !important;
                background: transparent;
                outline: 0
            }

        .my-navbar a {
            transition: color 0.5s ease-in-out;
        }
    /*-webkit-transition ;-moz-transition*/
    .top-nav {
        padding: 0;
        background: #000;
    }

    button.navbar-toggle {
        background-color: #fbfbfb;
    }
        /*整个背景都是transparent透明的，会看不到，所以再次覆盖一下*/
        button.navbar-toggle > span.icon-bar {
            background-color: #dedede
        }

    body, html {
        min-width: 1300px;
    }
    </style>
<script>

</script>    
}
<nav class="navbar navbar-fixed-top my-navbar" role="navigation">
    <div class="head clearfix" id="index_head">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand" data-toggle="dropdown" type="button">首页</a>
        </div>
        <div class="navbar menu fl" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">iOS</a></li>
                @Html.Raw(ViewBag.Menu)
            </ul>
        </div>
    </div>
</nav>   
@*<div class="logo fl">
    <img src="~/images/Login/logo_cd2.png" />
</div>
<div class="head clearfix" id="index_head">
    <div class="navbar menu fl">
        <ul class="nav">
            <li class="dropdown">
                <a href="javascript:;" onclick="addTab('0','首页', '/');" class="dropdown-toggle drop1" data-toggle="dropdown" type="button">
                    首页
                </a>
            </li>
            @Html.Raw(ViewBag.Menu)
        </ul>
    </div>
</div>*@

<div class="bg"></div>
<br /><br /><br /><br /><br /><br /><br /><p><a href="/Home/htmlpage" target="_blank">闲蛋客</a></p>

<script type="text/javascript">
    $(window).scroll(function () {
        if ($(".navbar").offset().top > 50) {
            $(".navbar-fixed-top").addClass("top-nav");
        } else { $(".navbar-fixed-top").removeClass("top-nav"); }
    })
</script>

