@using UniversityTutorManageSys.HelperService;
@using System.IO;
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.ico" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/css/jquery-ui-1.10.0.custom.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-modal.css" />
    <link rel="stylesheet" type="text/css" href="~/css/common.css?V=201801242114" />
    <link rel="stylesheet" type="text/css" href="~/css/ico.css" />
    <link rel="stylesheet" type="text/css" href="~/css/login.css?v=192887374" />
    <script src="~/js/jquery-1.8.2.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-modalmanager.js"></script>
    <script src="~/js/bootstrap-modal.js"></script>
    <script src="~/js/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/js/validate.js"></script>
    <script type="text/javascript" src="~/js/common.js"></script>
    @if (File.Exists(CommonUISer.Config.UploadImagePath + "login_bg.jpg"))
    {
        <style type="text/css">
            body, html {
                background-image:url('@(CommonUISer.Config.UploadImagePath + "login_bg.jpg")')
            }
        </style>
    }
    <script type="text/javascript">
        (function ($) {
            var ei, f, b, c, ci;
            $(function () {
                ei = $("#errorinfo");
                f = $("#frm_login");
                b = f.find("submit");
                c = $("#code");
                ci = $("#codeimg");
                f.validate({
                    errorElement: "span",
                    errorClass: "error",
                    onfocusout: false,
                    onkeyup: false,
                    onclick: false,
                    focusInvalid: false,
                    rules: {
                        UserCode: { required: true, all: true },
                        UserPassword: { required: true, maxlength: 20 },
                        Verifycode: { required: false }
                    },
                    messages: {
                        UserCode: { required: "请输入用户名！", all: "您输入的用户名包含非法字符！" },
                        UserPassword: { required: "请输入登录密码！", maxlength: jQuery.format("密码不能超过{0}个字符！") },
                        Verifycode: { required: "请输入验证码！" }
                    },
                    submitHandler: function (form) {
                        $.ajax({
                            type: "POST",
                            url: "home/dologin",
                            data: $(form).serializeArray(),
                            dataType: "json",
                            success: function (d) {
                                CheckIfNeedValidate(d.ifValidate);
                                if (d.state == 0) {
                                    location.href = "/";
                                } else if (d.state == 2) {
                                    ci.click();
                                    c.val("")[0].focus();
                                    err(d.message);
                                    b.ButtonDo(false, "登 录");
                                } else {
                                    ci.click();
                                    err(d.message);
                                    b.ButtonDo(false, "登 录");
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                var d = $.parseJSON(XMLHttpRequest.responseText);
                                var m = d.message != undefined ? d.message : d
                                err(m);
                                b.ButtonDo(false, "登 录");
                            }
                        });
                        return false;
                    },
                    showErrors: function (errorMap, errorList) {
                        if (errorList[0] != undefined) {
                            err(errorList[0].message);
                            errorList[0].element.focus();
                        }
                    }
                });
                b.bind({
                    ajaxStart: function () {
                        ei.hide();
                        b.ButtonDo(true, "正在登陆请稍候..");
                    }
                });
                ci.click(function (e) {
                    ci.attr("src", "home/doverifycode?" + new Date());
                });
                f.find("#usr").focus();
                //是否需要输入验证码
                CheckIfNeedValidate(false);
            });
            var err = function (msg) {
                ei.show();
                ei.find(".orange").html(msg);
            };
            //是否需要输入验证码
            function CheckIfNeedValidate(IfValidate) {
                if (IfValidate) {
                    $("#codeAera").show();
                    c.rules("add", { required: true });
                }
                else {
                    $("#codeAera").hide();
                    c.rules("add", { required: false });
                }
            }
        })(jQuery);

        //显示与隐藏眼睛图标
        function ShowHideEyes() {
            var pwd = $("#pwd").val();
            if ($(".eyes i").hasClass("ico_eye-open")) {
                $("#pwdbox").html("<input type='text' name='UserPassword' id='pwd' placeholder='请输入密码' value='" + pwd + "'/>");
                $(".eyes i").removeClass("ico_eye-open").addClass("ico_eye-close");
            } else {
                $("#pwdbox").html("<input type='password' name='UserPassword' id='pwd' placeholder='请输入密码' value='" + pwd + "'/>");
                $(".eyes i").removeClass("ico_eye-close").addClass("ico_eye-open");
            }
        }
    </script>
</head>
<body>
    <form id="frm_login" method="post">
        <div class="login_head">
            <div class="login_logo">
                @if (File.Exists(CommonUISer.Config.UploadImagePath + "login_bg.jpg"))
                {
                    <img src='@(CommonUISer.Config.UploadImagePath + "login_bg.jpg")' />
                }
                else
                {
                    <img src="~/images/Login/logo_cd.png" />
                }
            </div>
        </div>
        <div class="login_box">
            <h3>登录系统</h3>
            <div class="input clearfix">
                <span class="s1">
                    <i class="ico ico_people"></i>
                </span>
                <input type="text" name="UserCode" id="usr" placeholder="请输入用户名" autocomplete="off" />
            </div>
            <div class="input clearfix">
                <span class="s1" id="spanPwd">
                    <i class="ico ico_lock"></i>
                </span>
                <span id="pwdbox">
                    <input type="Password" name="UserPassword" id="pwd" placeholder="请输入密码" />
                </span>
                <div class="eyes">
                    <i class="ico ico_eye-open" onclick="ShowHideEyes()"></i>
                </div>
            </div>
            <div class="input clearfix" id="codeAera">
                <span class="s1">
                    <i class="ico ico_code"></i>
                </span>
                <input type="text" name="Verifycode" id="code" class="fl" placeholder="请输入验证码" maxlength="4" autocomplete="off" />
                <span class="codeImg">
                    <img title="点击刷新" src="home/doverifycode" id="codeimg" />
                </span>
            </div>
            <div id="errorinfo" class="hide clearfix fl wmax mt10">
                <i class="ico ico_exclamation">&nbsp;</i>
                <span class="orange">请输入正确的用户名</span>
            </div>
            <div class="pt20 clearfix fl wmax">
                <button class="btn btn-large btn-block btn-orange " id="submit" type="submit">登 录</button>
            </div>
            <div class="clearfix fl wmax pt10">
                @*<a href="" class="fr">忘记密码?</a>*@
                <label class="checkbox fl">
                    <input type="checkbox" id="remember" name="Remember" value="true"> 记住我
                </label>
            </div>
        </div>
    </form>
</body>
</html>